.adventure {
    &-tabs {
        width: fit-content;
        margin: auto;
        border-bottom: 1px solid #A7B2C9;
        margin-bottom: 40px;

        ul {
            .nav-link {
                color: #A7B2C9;
                display: inline-block;
                padding: 9px 18px;
                font-size: 1.3rem;
                transform: translateY(2px);

                &.active {
                    color: #333;
                    border-color: #14A4D8;
                    border-width: 3px;
                }
            }
        }
    }

    &-carousel {
        .owl-stage-outer {
            overflow: visible !important;
        }

        .owl-stage {
            display: flex;
            gap: 20px;
        }

        .owl-item {
            float: none !important;
        }

        &-item {
            .rating {
                position: absolute;
                top: 14px;
                left: 14px;
                padding: 12px;
                flex-direction: row;
                align-items: center;
                gap: 2px;
                border-radius: 100px;

                i {
                    color: #FFC107;
                }
            }

            .price {
                position: absolute;
                bottom: 14px;
                left: 14px;
                padding: 12px;
                border-radius: 100px;
            }
        }
    }
}