.best-ratings {
    &-carousel {
        .card {
            width: 280px;

            @media screen and (min-width: 767px) {
                width: 450px;

                img {
                    width:206px;
                }
            }

            img {
                width: 320px;
                height:248px;
                object-fit: cover;
            }

            &-title {
                &::before {
                    background-position: left;
                    background-size: 60%;
                }
            }

            &-body {
                p:last-child {
                    font-size: 0.8em;
                }
            }
        }
    }
}