.best-ratings {
    &-carousel {
        .owl-stage-outer {
            overflow: visible !important;
        }

        .card {
            img {
                width:206px;
                height:248px;
                object-fit: cover;
            }

            &-title {
                position: relative;
                padding-bottom: 4px;
                text-align: left;

                &::before {
                    background-position: left;
                    background-size: 60%;
                }
            }

            &-body {
                p:last-child {
                    font-size: 0.8em;
                }
            }
        }
    }
}