.choose-city {
    &-carousel {
        .card-body {
            padding: 4px;
            gap: 16px;

            .image {
                img {
                    width: 54px;
                }
            }
        }
    }
}