.hero {
    height: 770px;
    background-image: url("../../images/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &-title {
        height: 100%;
        padding-top: 240px;
        background: white;
        background-clip: text;
        -webkit-background-clip: text;

        @media screen and (min-width: 575px) {
            padding-top: 200px;
        }

        @media screen and (min-width: 991px) {
            padding-top: 180px;
        }

        h1 {
            font-size: 2.2rem;
            text-transform: uppercase;
            font-weight: 900;
            max-width: 980px;
            text-align: center;
            line-height: 1;
            -webkit-text-stroke: 0.5px white;
            -webkit-text-fill-color: transparent;
            font-family: 'Raleway', sans-serif;

            @media screen and (min-width: 575px) {
                font-size: 4rem;
            }

            @media screen and (min-width: 767px) {
                font-size: 5.6rem;
            }

            @media screen and (min-width: 991px) {
                font-size: 8.8rem;
            }

            span {
                font-size: 0.6em;

                @media screen and (min-width: 991px) {
                    text-align: right;
                    font-size: 0.32em;
                }
            }
        }
    }

    &-search {
        padding-bottom: 60px;

        @media screen and (min-width: 991px) {
            padding-bottom: 140px;
        }

        .date {
            #date-start {
                @media screen and (min-width: 767px) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            #date-end {
                @media screen and (min-width: 767px) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        button {
            border-radius: 10px;
        }
    }
}