.hero {
    height: 770px;
    background-image: url("../../images/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &-title {
        height: 100%;
        padding-top: 240px;

        h1 {
            // font-size: 8.6rem;
            font-size: 2.2em;
            text-transform: uppercase;
            font-weight: 900;
            max-width: 980px;
            // color: white;
        }
    }

    &-search {
        padding-bottom: 60px;

        @media screen and (min-width: 991px) {
            padding-bottom: 140px;
        }

        input,
        button {
            width: 100%;
            padding: 24px;
        }

        .date {
            #date-start {
                @media screen and (min-width: 767px) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            #date-end {
                @media screen and (min-width: 767px) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }

        button {
            border-radius: 10px;
        }
    }
}