.optin {
    &-form {
        max-width: 542px;

        button {
            border-radius: 10px;
        }

        .form-text {
            font-size: 0.8em;

            a {
                text-decoration: underline;
            }
        }
    }
}