@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "variables";

$theme-colors: (
    "pictonBlue"   :    $color-pictonBlue,
    "cerulean"     :      $color-cerulean,
    "burntSienna"  :   $color-burntSienna,
    "amber"        :         $color-amber,
    "powderBlue"   :    $color-powderBlue,
    "jet"          :           $color-jet,
    "silver"       :        $color-silver,
    "whiteSmoke"   :    $color-whiteSmoke,
    "silver2"      :       $color-silver2,
    "gray"         :          $color-gray,
    "gray2"        :         $color-gray2,
    "white"        :         $color-white,
    "black"        :         $color-black,
    "blackAlpha161": $color-blackAlpha161,
);

body {
    font-family: 'Jost', sans-serif;
}

.btn-burntSienna {
    color: white !important;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";