$color-pictonBlue: #14A4D8;
$color-cerulean: #097FAA;
$color-burntSienna: #F96E46;
$color-amber: #FFC107;

$color-powderBlue: #A7B2C9;
$color-jet: #333333;
$color-silver: #B0B0B0;
$color-whiteSmoke: #F2F2F2;
$color-silver2: #BFBFBF;
$color-gray: #7B7B7B;
$color-gray2: #757575;

$color-white: #FFFFFF;
$color-black: #000000;

$color-blackAlpha161: #00000029;
