.product-info {
    .details {
        .list {
            ul {
                position: relative;

                &::before {
                    content: "";
                    width: 5px;
                    height: 100%;
                    border-radius: 5px;
                    background-color: #14A4D8;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .itinerary {
            &-item {
                .order {
                    width: 33px;
                    height: 33px;
                    border-radius: 100%;
                }

                &:not(:last-child) {
                    .order {
                        &::before {
                            content: "";
                            width: 1px;
                            height: 100%;
                            background-color: #14A4D8;
                            position: absolute;
                            top: 0;
                            left: 16.5px;
                            z-index: -1;
                        }
                    }
                }
            }
        }

        .agency {
            &-logo {
                width: 82px;
                height: 82px;
                border-radius: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .confirm {
        position: relative;

        &-date {
            padding: 10px;
            border: 1px solid #7B7B7B;
            border-radius: 10px;
        }

        .card {
            max-width: 360px;

            @media screen and (min-width: 991px) {
                width: 100%;
                position: absolute;
                top: -64px;
                right: -10px;
                max-width: none;
            }

            @media screen and (min-width: 1199px) {
                width: 80%;
            }

            .select-qt {
                &>p {
                    font-size: 0.8em;
                }

                .time-qt {
                    height: 220px;

                    &-small {
                        font-size: 0.7em;
                    }

                    &-item {
                        &:not(:last-child) {
                            border-bottom: 1px solid #F2F2F2;
                        }
                    }

                    &-row {
                        gap: 7px;

                        &> :first-child {
                            flex-basis: 60%;
                        }

                        &> :last-child {
                            flex-basis: 40%;
                        }

                        .qt {
                            border-radius: 10px;

                            .minus,
                            .plus {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}