.product-info {
    .details {
        .list {
            ul {
                position: relative;

                &::before {
                    content: "";
                    width: 5px;
                    height: 100%;
                    border-radius: 5px;
                    background-color: #14A4D8;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        .itinerary {
            &-item {
                position: relative;
                z-index: 1;

                .order {
                    width: 33px;
                    height: 33px;
                    border-radius: 100%;
                    background-color: #14A4D8;
                    color: white;
                    font-size: 1.2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 18px;
                }

                &:not(:last-child) {
                    .order {
                        &::before {
                            content: "";
                            width: 1px;
                            height: 100%;
                            background-color: #14A4D8;
                            position: absolute;
                            top: 0;
                            left: 16.5px;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
}