.product-header {
    .rating {
        font-size: 0.8rem;

        @media screen and (min-width: 575px) {
            font-size: 1rem;
        }

        @media screen and (min-width: 991px) {
            font-size: 1.4rem;
        }
    }
}