.footer {
    &-logo {
        .logo {
            img {
                width: 260px;

                @media screen and (min-width: 991px) {
                    width: auto;
                }
            }
        }

        .mobile-app {
            .links {
                .store-link {
                    width: 117px;
                    height: 35px;
                    border: 1px solid white;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &-navigation {
        ul {
            li {
                a {
                    font-size: 1.6rem;

                    @media screen and (min-width: 575px) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    &-rights {
        background-color: rgba($color: #000000, $alpha: 0.26);

        p {
            @media screen and (min-width: 575px) {
                font-size: 1.2rem;
            }
        }
    }
}